scripts host/(OLD)Air Purifier.json
[{"id":"ff8fa6f2.cba178","type":"tab","label":"Air Purifier","disabled":false,"info":""},{"id":"edefd2e9.c416","type":"miot-airpurifier","z":"ff8fa6f2.cba178","name":"Air Purifier 3","ip":"192.168.1.3","token":"70a834aac7cdd3329f1c16d2191afb54","x":450,"y":440,"wires":[["324e3b97.8e9d84","ef5c6781.0c0008","d6538d1a.d8aae","70581995.098ce8","6da307b9.ab82d8","fff64ef0.2dfbc"]]},{"id":"e9289efd.63987","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.air_purifier_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":300,"wires":[["c538af94.41ab3"],["dd919fad.a3c5"]]},{"id":"c538af94.41ab3","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"power\",\"value\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["edefd2e9.c416","324e3b97.8e9d84"]]},{"id":"dd919fad.a3c5","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"power\",\"value\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["edefd2e9.c416","324e3b97.8e9d84"]]},{"id":"324e3b97.8e9d84","type":"debug","z":"ff8fa6f2.cba178","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":580,"wires":[]},{"id":"b04bd127.6852","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.air_purifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"lento","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":140,"wires":[["561f156e.4a703c"],[]]},{"id":"8f43bb91.211248","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.air_purifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"medio","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":180,"wires":[["53d5cd17.3bea94"],[]]},{"id":"36341103.a03bde","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.air_purifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"veloce","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":220,"wires":[["1b9c6886.4ac1c7"],[]]},{"id":"561f156e.4a703c","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"fan\",\"value\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["edefd2e9.c416"]]},{"id":"53d5cd17.3bea94","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"fan\",\"value\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":180,"wires":[["edefd2e9.c416"]]},{"id":"1b9c6886.4ac1c7","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"fan\",\"value\":3}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["edefd2e9.c416"]]},{"id":"1a66289e.dd77e7","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.air_purifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"auto","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":60,"wires":[["d3d83731.653448"],[]]},{"id":"d3d83731.653448","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"mode\",\"value\":\"auto\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[["edefd2e9.c416"]]},{"id":"456cec88.06b474","type":"server-state-changed","z":"ff8fa6f2.cba178","name":"","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.air_purifier_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"notturno","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":100,"wires":[["6e43f30d.41e9bc"],[]]},{"id":"6e43f30d.41e9bc","type":"change","z":"ff8fa6f2.cba178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"control\":\"mode\",\"value\":\"sleep\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["edefd2e9.c416"]]},{"id":"ef5c6781.0c0008","type":"ha-entity","z":"ff8fa6f2.cba178","name":"Air Quality","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Air Quality"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.aqi.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":210,"y":520,"wires":[[]]},{"id":"d6538d1a.d8aae","type":"ha-entity","z":"ff8fa6f2.cba178","name":"Air Filter","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Air Filter"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.filter1_life.value","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":220,"y":600,"wires":[[]]},{"id":"70581995.098ce8","type":"ha-entity","z":"ff8fa6f2.cba178","name":"Air Status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"Air Status"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.power.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":220,"y":660,"wires":[[]]},{"id":"6da307b9.ab82d8","type":"ha-entity","z":"ff8fa6f2.cba178","name":"Air Mode","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Air Mode"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.mode.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":210,"y":740,"wires":[[]]},{"id":"fff64ef0.2dfbc","type":"ha-entity","z":"ff8fa6f2.cba178","name":"Air Fan","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Air Fan"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload.fan.value","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":220,"y":820,"wires":[[]]},{"id":"cebf8cdf.55716","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]