node-red/flows.json
[{"id":"ec21b34c.da593","type":"tab","label":"External Temperature","disabled":false,"info":""},{"id":"6c87ae0.b34e354","type":"tab","label":"Kitchen Covers","disabled":false,"info":""},{"id":"432081f5.0788","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"31ed5d37.e34622","type":"tab","label":"Balcony Cover","disabled":true,"info":""},{"id":"5ecd5534.895f6c","type":"tab","label":"QsQ Test","disabled":false,"info":""},{"id":"723ba9ef.7d4ee8","type":"tab","label":"LCD Wall","disabled":false,"info":""},{"id":"abe457ff.ca44e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cebf8cdf.55716","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"39ed9721.7b4218","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a5d68d23.25dc6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"692f49b0.74b9d8","type":"mqtt in","z":"ec21b34c.da593","name":"","topic":"home/rtl_433","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":110,"y":180,"wires":[["37543bab.61b8e4","ce8e755a.eeb548"]]},{"id":"37543bab.61b8e4","type":"debug","z":"ec21b34c.da593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":160,"wires":[]},{"id":"73e837f1.7fcb58","type":"inject","z":"ec21b34c.da593","name":"TPMS","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/home/rtl_433","payload":"{\"time\":\"2020-02-23 20:12:17.605052\",\"protocol\":123,\"model\":\"Jansite\",\"type\":\"TPMS\",\"id\":\"280d862\",\"flags\":2,\"pressure_kPa\":108.8,\"temperature_C\":-50,\"code\":\"280d8620400000\",\"mod\":\"FSK\",\"freq1\":433.942,\"freq2\":433.863,\"rssi\":-7.876,\"snr\":7.159,\"noise\":-15.035}","payloadType":"json","x":110,"y":300,"wires":[["868ec20e.231fe"]]},{"id":"378c80be.5f628","type":"inject","z":"ec21b34c.da593","name":"Meteo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/home/rtl_433","payload":"{\"time\":\"2020-02-25 20:17:11.829388\",\"protocol\":42,\"model\":\"Hideki-TS04\",\"id\":4,\"channel\":1,\"battery_ok\":1,\"temperature_C\":12,\"humidity\":65,\"mic\":\"CRC\",\"mod\":\"ASK\",\"freq\":433.907,\"rssi\":-0.106,\"snr\":14.87,\"noise\":-14.976}","payloadType":"json","x":110,"y":360,"wires":[["868ec20e.231fe"]]},{"id":"868ec20e.231fe","type":"switch","z":"ec21b34c.da593","name":"","property":"payload.model","propertyType":"jsonata","rules":[{"t":"eq","v":"Hideki-TS04","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":300,"wires":[["d57183be.051d3","e50daffa.7742c","f097339e.1906c"]]},{"id":"d57183be.051d3","type":"ha-entity","z":"ec21b34c.da593","name":"External Temperature","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"External Temperature"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°C"}],"state":"payload.temperature_C","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":340,"y":400,"wires":[["ea3652f9.326c8"]]},{"id":"e50daffa.7742c","type":"ha-entity","z":"ec21b34c.da593","name":"External Humidity","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"External Humidity"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload.humidity","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":330,"y":460,"wires":[["7e90d2f0.ebe3fc"]]},{"id":"ea3652f9.326c8","type":"debug","z":"ec21b34c.da593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":400,"wires":[]},{"id":"7e90d2f0.ebe3fc","type":"debug","z":"ec21b34c.da593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":460,"wires":[]},{"id":"6f2939f5.1f7358","type":"inject","z":"ec21b34c.da593","name":"Meteo","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/home/rtl_433","payload":"{\"time\":\"2020-02-23 20:58:45.868105\",\"protocol\":42,\"model\":\"Hideki-TS04\",\"id\":4,\"channel\":1,\"battery_ok\":1,\"temperature_C\":11.7,\"humidity\":66,\"mic\":\"CRC\",\"mod\":\"ASK\",\"freq\":433.908,\"rssi\":-0.117,\"snr\":16.241,\"noise\":-16.358}","payloadType":"json","x":110,"y":420,"wires":[["868ec20e.231fe"]]},{"id":"ce8e755a.eeb548","type":"json","z":"ec21b34c.da593","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["868ec20e.231fe","37543bab.61b8e4"]]},{"id":"c2ac200e.2aa3e","type":"ha-entity","z":"ec21b34c.da593","name":"External Time","server":"cebf8cdf.55716","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"External Time"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":320,"y":520,"wires":[[]]},{"id":"f097339e.1906c","type":"moment","z":"ec21b34c.da593","name":"","topic":"","input":"payload.time","inputType":"msg","inTz":"ETC/GMT","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"C","output":"","outputType":"msg","outTz":"Europe/Rome","x":140,"y":600,"wires":[["c99488e6.1e05e8","c2ac200e.2aa3e"]]},{"id":"c99488e6.1e05e8","type":"debug","z":"ec21b34c.da593","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":580,"wires":[]},{"id":"c59b2992.f22968","type":"inject","z":"ec21b34c.da593","name":"Rain Wind","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/home/rtl_433","payload":"{\"time\":\"2020-02-24 20:13:50.572562\",\"enabled\":143,\"frames\":{\"count\":103,\"fsk\":0,\"events\":21},\"stats\":[{\"device\":42,\"name\":\"HIDEKI TS04 Temperature, Humidity, Wind and Rain Sensor\",\"events\":268,\"ok\":9,\"messages\":9,\"abort_length\":259},{\"device\":91,\"name\":\"inFactory, FreeTec NC-3982-913 temperature humidity sensor\",\"events\":23,\"ok\":12,\"messages\":12,\"abort_length\":11}]}","payloadType":"json","x":120,"y":240,"wires":[[]]},{"id":"f116212c.59d99","type":"server-state-changed","z":"6c87ae0.b34e354","name":"Open Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kitchen_open_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":200,"wires":[["4be0f19b.1803f"],[]]},{"id":"39729824.0ac908","type":"api-call-service","z":"6c87ae0.b34e354","name":"Accendo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":200,"wires":[["a3872b94.b25358"]]},{"id":"a3872b94.b25358","type":"delay","z":"6c87ae0.b34e354","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":300,"wires":[["3d9f846c.ea08ac"]]},{"id":"3d9f846c.ea08ac","type":"api-call-service","z":"6c87ae0.b34e354","name":"Spengo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":380,"wires":[["70ff45d0.eae71c"]]},{"id":"70ff45d0.eae71c","type":"api-call-service","z":"6c87ae0.b34e354","name":"Setto a 0 Open status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kitchen_open_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":460,"wires":[[]]},{"id":"37f084c0.35231c","type":"server-state-changed","z":"6c87ae0.b34e354","name":"Close Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kitchen_close_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":560,"wires":[["df62a68d.340878"],[]]},{"id":"721bbeca.1ac8e","type":"api-call-service","z":"6c87ae0.b34e354","name":"Accendo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":560,"wires":[["740466f3.54ff98"]]},{"id":"740466f3.54ff98","type":"delay","z":"6c87ae0.b34e354","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":660,"wires":[["7f59978d.6f4198"]]},{"id":"7f59978d.6f4198","type":"api-call-service","z":"6c87ae0.b34e354","name":"Spengo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":740,"wires":[["3a8aba64.741296"]]},{"id":"3a8aba64.741296","type":"api-call-service","z":"6c87ae0.b34e354","name":"Setto a 0 Close status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kitchen_close_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":820,"wires":[[]]},{"id":"b202b05f.f70d3","type":"server-state-changed","z":"6c87ae0.b34e354","name":"Stop Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kitchen_stop_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":940,"wires":[["5384e60b.c2d398","fdd22ca9.72df3","9088ba11.c17158"],[]]},{"id":"fdd22ca9.72df3","type":"api-call-service","z":"6c87ae0.b34e354","name":"Setto a 0 Stop status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kitchen_stop_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":900,"wires":[[]]},{"id":"4be0f19b.1803f","type":"api-current-state","z":"6c87ae0.b34e354","name":"Rele01 spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmable_light_8","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":300,"wires":[["c240abe1.958ce8"],["70ff45d0.eae71c"]]},{"id":"c240abe1.958ce8","type":"api-current-state","z":"6c87ae0.b34e354","name":"Rele02 Spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmable_light_9","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":380,"wires":[["39729824.0ac908"],["70ff45d0.eae71c"]]},{"id":"3dcece09.015f12","type":"api-current-state","z":"6c87ae0.b34e354","name":"Rele02 Spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmable_light_9","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":720,"wires":[["721bbeca.1ac8e"],["3a8aba64.741296"]]},{"id":"df62a68d.340878","type":"api-current-state","z":"6c87ae0.b34e354","name":"Rele01 spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.dimmable_light_8","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":660,"wires":[["3dcece09.015f12"],["3a8aba64.741296"]]},{"id":"d546ed6f.8636b","type":"api-call-service","z":"6c87ae0.b34e354","name":"Spengo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1020,"wires":[[]]},{"id":"1911cfe.9442d3","type":"api-call-service","z":"6c87ae0.b34e354","name":"Spengo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":1140,"wires":[[]]},{"id":"a03f8b18.2c5a58","type":"api-call-service","z":"6c87ae0.b34e354","name":"Setto a 0 Open status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kitchen_open_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":960,"wires":[[]]},{"id":"c8e31348.1ee69","type":"api-call-service","z":"6c87ae0.b34e354","name":"Setto a 0 Close status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.kitchen_close_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1080,"wires":[[]]},{"id":"5384e60b.c2d398","type":"api-current-state","z":"6c87ae0.b34e354","name":"Open Avviato?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_open_status","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1020,"wires":[["d546ed6f.8636b","a03f8b18.2c5a58"],[]]},{"id":"9088ba11.c17158","type":"api-current-state","z":"6c87ae0.b34e354","name":"Close Avviato?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_close_status","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":160,"y":1120,"wires":[["c8e31348.1ee69","1911cfe.9442d3"],[]]},{"id":"427787b9.8d9da8","type":"mqtt in","z":"432081f5.0788","name":"","topic":"octoPrint/mqtt","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":150,"y":100,"wires":[["197720bb.39dbef"]]},{"id":"197720bb.39dbef","type":"debug","z":"432081f5.0788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":200,"wires":[]},{"id":"b4857d32.f4ed5","type":"mqtt in","z":"432081f5.0788","name":"","topic":"octoPrint/event/PrintStarted","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":180,"y":200,"wires":[["197720bb.39dbef"]]},{"id":"790cfb76.ae2434","type":"mqtt in","z":"432081f5.0788","name":"","topic":"octoPrint/event/PrintDone","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":170,"y":300,"wires":[["197720bb.39dbef"]]},{"id":"c6ee2c14.106d8","type":"mqtt in","z":"432081f5.0788","name":"","topic":"octoPrint/progress/printing","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":170,"y":400,"wires":[["197720bb.39dbef"]]},{"id":"995d5939.d65f88","type":"server-state-changed","z":"31ed5d37.e34622","name":"Open Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.balcony_open_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":100,"wires":[["7ed71b80.e3c9d4"],[]]},{"id":"6e144187.2f192","type":"api-call-service","z":"31ed5d37.e34622","name":"Accendo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":100,"wires":[["16f8e3c4.4c089c"]]},{"id":"16f8e3c4.4c089c","type":"delay","z":"31ed5d37.e34622","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":200,"wires":[["a5fb19ba.8913f8"]]},{"id":"a5fb19ba.8913f8","type":"api-call-service","z":"31ed5d37.e34622","name":"Spengo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":280,"wires":[["5bf673d2.8fa98c"]]},{"id":"5bf673d2.8fa98c","type":"api-call-service","z":"31ed5d37.e34622","name":"Setto a 0 Open status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.balcony_open_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":360,"wires":[[]]},{"id":"ceafd261.76de6","type":"server-state-changed","z":"31ed5d37.e34622","name":"Close Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.balcony_close_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":460,"wires":[["994530e3.fedd1"],[]]},{"id":"57c34d85.dd8a04","type":"api-call-service","z":"31ed5d37.e34622","name":"Accendo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":460,"wires":[["c7e48abd.48cf68"]]},{"id":"c7e48abd.48cf68","type":"delay","z":"31ed5d37.e34622","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":560,"wires":[["5d8f279b.f3c1d8"]]},{"id":"5d8f279b.f3c1d8","type":"api-call-service","z":"31ed5d37.e34622","name":"Spengo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":640,"wires":[["c62b74b8.bafdf8"]]},{"id":"c62b74b8.bafdf8","type":"api-call-service","z":"31ed5d37.e34622","name":"Setto a 0 Close status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.balcony_close_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":720,"wires":[[]]},{"id":"a432fc7f.89927","type":"server-state-changed","z":"31ed5d37.e34622","name":"Stop Trigger","server":"cebf8cdf.55716","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.balcony_stop_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":840,"wires":[["29f18dbf.5d80f2","1ad4e8f2.7fcd37","405afce6.be6114"],[]]},{"id":"1ad4e8f2.7fcd37","type":"api-call-service","z":"31ed5d37.e34622","name":"Setto a 0 Stop status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.balcony_stop_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":800,"wires":[[]]},{"id":"7ed71b80.e3c9d4","type":"api-current-state","z":"31ed5d37.e34622","name":"Rele01 spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.rele2wayc_01","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":200,"wires":[["2a2cb89d.34c728"],["5bf673d2.8fa98c"]]},{"id":"2a2cb89d.34c728","type":"api-current-state","z":"31ed5d37.e34622","name":"Rele02 Spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.rele2wayc_02","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":280,"wires":[["6e144187.2f192"],["5bf673d2.8fa98c"]]},{"id":"c2a5ed2c.fa229","type":"api-current-state","z":"31ed5d37.e34622","name":"Rele02 Spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.rele2wayc_02","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":620,"wires":[["57c34d85.dd8a04"],["c62b74b8.bafdf8"]]},{"id":"994530e3.fedd1","type":"api-current-state","z":"31ed5d37.e34622","name":"Rele01 spento?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.rele2wayc_01","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":220,"y":560,"wires":[["c2a5ed2c.fa229"],["c62b74b8.bafdf8"]]},{"id":"c8aca526.cffdc8","type":"api-call-service","z":"31ed5d37.e34622","name":"Spengo Rele01","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_8","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":920,"wires":[[]]},{"id":"f0b5ed42.c7ea9","type":"api-call-service","z":"31ed5d37.e34622","name":"Spengo Rele02","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dimmable_light_9","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1040,"wires":[[]]},{"id":"ede679ac.107578","type":"api-call-service","z":"31ed5d37.e34622","name":"Setto a 0 Open status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.balcony_open_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":860,"wires":[[]]},{"id":"1b54360c.f404aa","type":"api-call-service","z":"31ed5d37.e34622","name":"Setto a 0 Close status","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.balcony_close_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":980,"wires":[[]]},{"id":"29f18dbf.5d80f2","type":"api-current-state","z":"31ed5d37.e34622","name":"Open Avviato?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.balcony_open_status","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":920,"wires":[["c8aca526.cffdc8","ede679ac.107578"],[]]},{"id":"405afce6.be6114","type":"api-current-state","z":"31ed5d37.e34622","name":"Close Avviato?","server":"cebf8cdf.55716","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.balcony_close_status","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":180,"y":1020,"wires":[["1b54360c.f404aa","f0b5ed42.c7ea9"],[]]},{"id":"d2a568ac.2b53e8","type":"mqtt in","z":"5ecd5534.895f6c","name":"","topic":"home/updatePlanValue","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":250,"y":140,"wires":[["9080ef37.d5804"]]},{"id":"9080ef37.d5804","type":"debug","z":"5ecd5534.895f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"95ff23da.47ba","type":"mqtt in","z":"723ba9ef.7d4ee8","name":"","topic":"office/button","qos":"2","datatype":"auto","broker":"39ed9721.7b4218","x":90,"y":40,"wires":[["9bd67965.6e17c8","a6442daf.4c2b5"]]},{"id":"9bd67965.6e17c8","type":"debug","z":"723ba9ef.7d4ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":20,"wires":[]},{"id":"a900df9f.b8fae","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Scena Film","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.soggiorno_film","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":120,"wires":[[]]},{"id":"a6442daf.4c2b5","type":"switch","z":"723ba9ef.7d4ee8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"scene_dark","vt":"str"},{"t":"eq","v":"scene_day","vt":"str"},{"t":"eq","v":"scene_film","vt":"str"},{"t":"eq","v":"scene_night","vt":"str"},{"t":"eq","v":"scene_book","vt":"str"},{"t":"eq","v":"vacuum_run","vt":"str"},{"t":"eq","v":"vacuum_stop","vt":"str"},{"t":"eq","v":"vacuum_dock","vt":"str"},{"t":"eq","v":"restartHA","vt":"str"},{"t":"eq","v":"restartPI","vt":"str"},{"t":"eq","v":"shutdownHA","vt":"str"},{"t":"eq","v":"air_run","vt":"str"},{"t":"eq","v":"air_stop","vt":"str"},{"t":"eq","v":"fan_run","vt":"str"},{"t":"eq","v":"fan_stop","vt":"str"},{"t":"eq","v":"plan","vt":"str"},{"t":"cont","v":"ac_","vt":"str"}],"checkall":"true","repair":false,"outputs":17,"x":110,"y":200,"wires":[["670c22aa.0a65cc"],["dc847f7e.a109d"],["a900df9f.b8fae"],["ae4f6e78.93ba"],["52dfc523.f6aa7c"],["f2713148.4b00b"],["a066231b.d4b1a"],["656fec0a.3fd4d4"],["4d5df035.43227"],["ca608583.00da58"],["d543a5f4.a63ab8"],["ab42c0f1.3911e"],["ac34bcd7.24223"],["c7c84330.5206c"],["52934c12.b673e4"],["cb615f12.3616a"],["7156b061.5b092"]]},{"id":"ae4f6e78.93ba","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Scena Sera","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.soggiorno_sera","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":160,"wires":[[]]},{"id":"f2713148.4b00b","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Avvia aspirapolvere","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.aspirapolvere","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":240,"wires":[[]]},{"id":"a066231b.d4b1a","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Ferma aspirapolvere","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"vacuum","service":"stop","entityId":"vacuum.aspirapolvere","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":280,"wires":[[]]},{"id":"656fec0a.3fd4d4","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Ricarica aspirapolvere","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.aspirapolvere","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":320,"wires":[[]]},{"id":"38720dfa.248742","type":"debug","z":"abe457ff.ca44e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":120,"wires":[]},{"id":"4d5df035.43227","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Restart HA","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"restart","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":380,"wires":[[]]},{"id":"d543a5f4.a63ab8","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Shutdown PI","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"hassio","service":"host_shutdown","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":460,"wires":[[]]},{"id":"ca608583.00da58","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Restart PI","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"hassio","service":"host_reboot","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":420,"wires":[[]]},{"id":"ab42c0f1.3911e","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Run Air Purifier","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"entity_id: fan.air_purifier","data":"{\"entity_id\":\"fan.air_purifier\",\"speed\":\"Auto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":520,"wires":[[]]},{"id":"ac34bcd7.24223","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Stop Air Purifier","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"entity_id: fan.air_purifier","data":"{\"entity_id\":\"fan.air_purifier\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":560,"wires":[[]]},{"id":"1a22d716.818b09","type":"inject","z":"abe457ff.ca44e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"rest","payloadType":"str","x":200,"y":260,"wires":[["38720dfa.248742","a2c0fee0.d5061"]]},{"id":"a2c0fee0.d5061","type":"mqtt out","z":"abe457ff.ca44e8","name":"","topic":"home/notification/generic","qos":"","retain":"","broker":"39ed9721.7b4218","x":470,"y":260,"wires":[]},{"id":"a5852bcd.8870e8","type":"debug","z":"723ba9ef.7d4ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":880,"wires":[]},{"id":"7156b061.5b092","type":"function","z":"723ba9ef.7d4ee8","name":"","func":"let m = msg.payload\nvar words = msg.payload.split(\"=\");\n\nlet ac = words[0]\nlet val = words[1]\n\nreturn {payload:{action:ac,value:val}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":760,"wires":[["a5852bcd.8870e8","42a00844.c6c4a8"]]},{"id":"8ab2bf4d.9fc67","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"AC Hot","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"entity_id: climate.condizionatore_salotto","data":"{\"entity_id\":\"climate.condizionatore_salotto\",\"temperature\":\"{{payload.value}}\",\"hvac_mode\":\"heat\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":760,"wires":[[]]},{"id":"c7c84330.5206c","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Run Ventola PI","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ventolapi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":620,"wires":[[]]},{"id":"52934c12.b673e4","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Stop Ventola PI","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ventolapi","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":660,"wires":[[]]},{"id":"42a00844.c6c4a8","type":"switch","z":"723ba9ef.7d4ee8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"ac_hot","vt":"str"},{"t":"eq","v":"ac_dry","vt":"str"},{"t":"eq","v":"ac_cold","vt":"str"},{"t":"eq","v":"ac_stop","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":820,"wires":[["8ab2bf4d.9fc67"],["fc939152.8f502"],["898d915c.7060e"],["341e7109.6c8b2e"]]},{"id":"fc939152.8f502","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"AC Dry","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"climate","service":"climate.set_humidity","entityId":"entity_id: climate.condizionatore_salotto","data":"humidity: 30","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":800,"wires":[[]]},{"id":"898d915c.7060e","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"AC Cold","server":"cebf8cdf.55716","version":1,"debugenabled":true,"service_domain":"climate","service":"set_temperature","entityId":"entity_id: climate.condizionatore_salotto","data":"{\"entity_id\":\"climate.condizionatore_salotto\",\"temperature\":\"{{payload.value}}\",\"hvac_mode\":\"cool\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":840,"wires":[[]]},{"id":"341e7109.6c8b2e","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"AC Stop","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"entity_id: climate.condizionatore_salotto","data":"{\"entity_id\":\"climate.condizionatore_salotto\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":880,"wires":[[]]},{"id":"dc847f7e.a109d","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Scena Giorno","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.soggiorno_giorno","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":80,"wires":[[]]},{"id":"670c22aa.0a65cc","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Scena Dark","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.soggiorno_dark","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":40,"wires":[[]]},{"id":"e5964e00.7857a","type":"mqtt out","z":"abe457ff.ca44e8","name":"","topic":"home/updateLCD","qos":"","retain":"","broker":"39ed9721.7b4218","x":450,"y":320,"wires":[]},{"id":"1008cadc.bd1665","type":"inject","z":"abe457ff.ca44e8","name":"","props":[{"p":"value","v":"page plan","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":320,"wires":[["e5964e00.7857a"]]},{"id":"52dfc523.f6aa7c","type":"api-call-service","z":"723ba9ef.7d4ee8","name":"Scena Libro","server":"cebf8cdf.55716","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.soggiorno_libro","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":200,"wires":[[]]},{"id":"67cdc14f.b6692","type":"mqtt out","z":"5ecd5534.895f6c","name":"","topic":"office/button","qos":"","retain":"","broker":"39ed9721.7b4218","x":490,"y":240,"wires":[]},{"id":"d81d08e3.a4c678","type":"inject","z":"5ecd5534.895f6c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"plan","payloadType":"str","x":210,"y":240,"wires":[["67cdc14f.b6692"]]},{"id":"adda74fb.acbcb8","type":"mqtt out","z":"723ba9ef.7d4ee8","name":"","topic":"home/updatePlanValue","qos":"0","retain":"","broker":"39ed9721.7b4218","x":470,"y":700,"wires":[]},{"id":"cb615f12.3616a","type":"function","z":"723ba9ef.7d4ee8","name":"","func":"const globalHomeAssistant = global.get('homeassistant');\n\nlet cucinaTemp = globalHomeAssistant.homeAssistant.states[\"sensor.sensor_cucina_temperature\"].state;\nlet soggiornoTemp = globalHomeAssistant.homeAssistant.states[\"sensor.temperature_5\"].state;\nlet ludoTemp = globalHomeAssistant.homeAssistant.states[\"sensor.sensor_ludovica_temperature\"].state;\nlet bagnoTemp = globalHomeAssistant.homeAssistant.states[\"sensor.sensor_bagno_temperature\"].state;\nlet lavanderiaTemp = globalHomeAssistant.homeAssistant.states[\"sensor.temperature_10\"].state;\nlet cameraTemp = globalHomeAssistant.homeAssistant.states[\"sensor.sensor_camera_temperature\"].state;\n\nreturn {payload:{cucina:cucinaTemp,soggiorno:soggiornoTemp,ludo:ludoTemp,bagno:bagnoTemp,lavanderia:lavanderiaTemp,camera:cameraTemp}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":700,"wires":[["adda74fb.acbcb8"]]},{"id":"d6429b3b.8e7fa8","type":"debug","z":"5ecd5534.895f6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"c9f0ecdd.34c12","type":"inject","z":"5ecd5534.895f6c","name":"go","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":90,"y":300,"wires":[["6a28928e.e276fc","37595a48.45ecc6"]]},{"id":"6a28928e.e276fc","type":"api-current-state","z":"5ecd5534.895f6c","name":"","server":"cebf8cdf.55716","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sensor_cucina_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":420,"wires":[[]]},{"id":"37595a48.45ecc6","type":"function","z":"5ecd5534.895f6c","name":"","func":"const globalHomeAssistant = global.get('homeassistant');\nmsg.payload = globalHomeAssistant.homeAssistant.states[\"sensor.sensor_camera_temperature\"].state;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":360,"wires":[["d6429b3b.8e7fa8"]]}]
